body {
    background: #090909;
}

.bg-black {
    background: #000;
}

.nav-link {
    margin-right: 20px;
  }


 /* Imagen de la escuela */
.fondo {
    background-color: var(--clr-dark); /* Validar otros colores */
    /*  Editar Imagen  */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(EBCToluca.jpg); 
    background-size: cover;
    background-blend-mode: multiply; 
    color: var(#494747);
    text-align: center;
}

