{% extends 'layout.html' %}

{% block content %}

{% load static %}

<header class="row bg-black">

    <div class="col-md-4">
        <img src="{% static 'portfolio/Ricardo.jpeg' %}" class="card-img-top" />
    </div>

    <div class="col-md-8 my-auto p-4">
        <h1>Hola! Soy <strong>Ricardo Fuentes Carbó</strong></h1>
        <p class="section__subtitle section__subtitle--intro">Data Analyst & Finances</p>
        <p> Apasionado por los datos y la información que se puede obtener de ellos. </p>
               <p><strong>Dinámico</strong>, <strong>Responsable</strong> y <strong>Siempre</strong> buscando <strong>Aprender</strong> cosas nuevas para mejorar en el día a día de mi trabajo.</p>
                <p>En mi experiencia laboral, he participado en diversos proyectos como: creación de ERP, la optimización en cálculos de compras de stock, negociación con proveedores, organización de inventarios, comunicación con clientes internos, generación de reportes con información relevante y oportuna para la toma de decisiones. </p>
                <p>Te invito a ver mi perfil en <a href="https://www.linkedin.com/in/ricardo-fuentes-carbo"><strong>LinkedIn</strong></A> para que puedas ver a detalle mi experiencia profesional.</p>
                <p>Amante de la buena lectura (Harry Potter, El Señor de los Anillos, Juego de Tronos), los Relojes y apasionado por las Criptomonedas.</p>
        <a class="btn btn-primary btn-lg rounded-0 my-3" href="{% static 'portfolio/cv.pdf' %}" target="_blank">Download
            CV</a>

</header>

<!-- Porfolio Section -->
<div class="row my-4 text-center">

    <h3>My Projects</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, aperiam?
        jklbnlkjbiub jb aijdbcnaiojcvbn qijbncajdbijqb ijb ijbaildjcv iqqijb cqijb lkbn ci jkbnjabviqjbv
        lkjbc  ibqijblakncbalidbaoivboiablnkb
    </p>
  
    {% for project in projects %}
    <div class="col-md-4 p-4">
      <div class="card bg-black card-project">
        <img src="{{project.image.url }}" class="card-img-top" />
  
        <div class="card-body">
  
          <h2>{{ project.title }}</h2>
          <p>{{ project.description }}</p>
  
          {% if project.url %}
          <a href="{{project.url}}" class="btn btn-primary btn-sm" target="_blank" rel="noreferrer">Visit the
            Project</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  
  
  {% endblock %}