{% extends 'layout.html' %}

{% block content %}

<style>
    
  .kodfun-galeri {
    display: flex;
    height: 20rem;
    gap: 1rem;
    display: flex; /* mostrar las imágenes en una sola fila */
    flex-wrap: wrap; /* permitir que las imágenes se envuelvan si no hay suficiente espacio en la fila */
    justify-content: center; /* centrar las imágenes horizontalmente */
    max-width: 100%;
    margin: 0 auto;
  }
  
  .kodfun-galeri > div {
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
    width: 300px;
    height: 300px;
    opacity: .6;
    
  }

  .kodfun-galeri > div img {
    height: 300px;
    width: 600px;
    display: flex;
    object-fit: cover;
  }

  .kodfun-galeri > div:hover {
    flex: 5;
    filter: contrast(120%);
    opacity: 1;
  }
</style>


<h1 style="text-align: center;">Mis Proyectos</h1>

<body>
  <div class="kodfun-galeri">
    {% for i in project %}
      <div>
        <a href="{% url 'blog:project_detail' i.id %}">
          <img src="{{i.main_image.url}}" alt="{{i.title}}" class="img-fluid">
        </a>
      </div>
    {% endfor %}
  </div>
</body>


{% endblock %}

