{% load static %}

  <footer class="navbar-dark text-white py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p style="text-align: center;">Sígueme en redes sociales</p>
          <ul class="list-unstyled d-flex justify-content-center" style="padding: 0; margin: 0;">
            <li class="me-4"><a href="https://www.linkedin.com/in/rodrigo-fuentes-carb%C3%B3-5858321a2/"><i class="fab fa-linkedin fa-2x text-white"></i></a></li>
            <!--<li class="me-4"><a href="https://github.com/rikrdinii1"><i class="fab fa-github fa-2x text-white"></i></a></li>-->
            <li><a href="https://www.instagram.com/rockothebeast/"><i class="fab fa-instagram fa-2x text-white"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>